openapi: 3.0.3
info:
  title: Swagger
  description: Swagger
  version: '0.1'
servers:
  - url: 'https://test2023-backend-ivan-t.abztrainee.com/api/v1'
  - url: 'http://localhost/api/v1'

paths:
  /roles:
    get:
      parameters:
        - in: header
          name: Accept-Language
          description: Set interface language (en, de)
          schema:
            type: string
            example: en
      tags:
        - roles
      description: Get all roles
      responses:
        200:
          description: Users response
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Role'
        503:
          description: Something Went Wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SomethingWentWrong'

  /users:
    get:
      tags:
        - users
      description: Get all users
      parameters:
        - in: header
          name: Accept-Language
          description: Set interface language (en, de)
          schema:
            type: string
            example: en
        - name: page
          in: query
          description: Number page for getting users
          style: form
          schema:
            type: integer
        - name: per_page
          in: query
          description: Size page for getting users
          style: form
          schema:
            type: integer
      responses:
        200:
          description: Users response
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Users'
        422:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        503:
          description: Something Went Wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SomethingWentWrong'

    post:
      tags:
        - users
      description: Create new User (Register). After register go to POST /login for authorization
      parameters:
        - in: header
          name: Accept-Language
          description: Set interface language (en, de)
          schema:
            type: string
            example: en
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/NewUser'
          application/json:
            schema:
              $ref: '#/components/schemas/NewUser'
      responses:
        201:
          description: Created success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        422:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        503:
          description: Something Went Wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SomethingWentWrong'

  /users/{user}:
    get:
      tags:
        - users
      description: Get one user
      parameters:
        - in: header
          name: Accept-Language
          description: Set interface language (en, de)
          schema:
            type: string
            example: en
        - name: user
          in: path
          required: true
          description: Id this user
          schema:
            type: integer
      responses:
        200:
          description: One user response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        404:
          description: Not found response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        503:
          description: Something Went Wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SomethingWentWrong'

    patch:
      tags:
        - users
      description: Update user
      parameters:
        - in: header
          name: Accept-Language
          description: Set interface language (en, de)
          schema:
            type: string
            example: en
        - name: user
          in: path
          required: true
          description: Id this user
          schema:
            type: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UpdateUser'
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUser'
      responses:
        200:
          description: Updated success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        422:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        404:
          description: Not found response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        503:
          description: Something Went Wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SomethingWentWrong'

    delete:
      tags:
        - users
      description: Delete user
      parameters:
        - in: header
          name: Accept-Language
          description: Set interface language (en, de)
          schema:
            type: string
            example: en
        - name: user
          in: path
          required: true
          description: Id this user
          schema:
            type: integer
      responses:
        204:
          description: Deleted success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'
        404:
          description: Not found response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        503:
          description: Something Went Wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SomethingWentWrong'

  /login:
    post:
      tags:
        - login
      description: "Get authorization link by email. The authorization link will be sent to the user's email in the form: 'https://<domain-name>/auth?hash={hash}' . After that, you need to call the method POST /login to authorize"
      parameters:
        - in: header
          name: Accept-Language
          description: Set interface language (en, de)
          schema:
            type: string
            example: en
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Login'
          application/json:
            schema:
              $ref: '#/components/schemas/Login'
      responses:
        200:
          description: Login success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        422:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
              example:
                message: The email must be a valid email address
                errors:
                  email:
                    - "The email format is invalid."
        503:
          description: Something Went Wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SomethingWentWrong'

  /verify:
    post:
      tags:
        - login
      description: "The AuthToken must be obtained from the method POST /verify by clicking on the link that will be sent to the mail"
      parameters:
        - in: header
          name: Accept-Language
          description: Set interface language (en, de)
          schema:
            type: string
            example: en
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Verify'
          application/json:
            schema:
              $ref: '#/components/schemas/Verify'
      responses:
        200:
          description: Authorization success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessAuth'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/SuccessAuth'
        422:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
              example:
                message: The token must be a valid
                errors:
                  hash:
                    - "The hash format is required."
        503:
          description: Something Went Wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SomethingWentWrong'

  /logout:
    post:
      security:
        - bearerAuth: [ ]
      tags:
        - login
      description: "Logout user"
      parameters:
        - in: header
          name: Accept-Language
          description: Set interface language (en, de)
          schema:
            type: string
            example: en

      responses:
        200:
          description: Authorization success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessLogout'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
              example:
                message: Unauthorized
        503:
          description: Something Went Wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SomethingWentWrong'

  /social:
    post:
      tags:
        - social
      description: "This method will returned url for social auth"
      parameters:
        - in: header
          name: Accept-Language
          description: Set interface language (en, de)
          schema:
            type: string
            example: en
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Social'
          application/json:
            schema:
              $ref: '#/components/schemas/Social'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialUrl'
        422:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
              example:
                message: The selected driver is invalid.
                errors:
                  email:
                    - "The selected driver is invalid."
        503:
          description: Something Went Wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SomethingWentWrong'

  /callback:
    post:
      tags:
        - social
      description: "This method will check if the user is registered in the system (through a social network) and will give a response depending on this. If the user is not registered, then you will need to go through the second step of registration to fill in all the required fields. When a user is registered, an authorization token and his data will be issued"
      parameters:
        - in: header
          name: Accept-Language
          description: Set interface language (en, de)
          schema:
            type: string
            example: en
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SocialCallback'
          application/json:
            schema:
              $ref: '#/components/schemas/SocialCallback'
      responses:
        200:
          description: Authorization success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessAuth'
        201:
          description: User created but not active, complete the two step of registration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessFirstStepRegister'
        400:
          description: Bad request
          content:
            application/json:
              example:
                message: Malformed auth code.
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
              example:
                message: "Forbidden. No access to the user's email in the social network"
        422:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
              example:
                message: The token must be a valid
                errors:
                  email:
                    - "The token field is required."
        503:
          description: Something Went Wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SomethingWentWrong'

  /social/next:
    patch:
      security:
        - bearerAuth: [ ]
      tags:
        - social
      description: Method for full register user by social network and get user data and LoginToken.
      parameters:
        - in: header
          name: Accept-Language
          description: Set interface language (en, de)
          schema:
            type: string
            example: en
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TwoStepRegister'
          application/json:
            schema:
              $ref: '#/components/schemas/TwoStepRegister'
      responses:
        200:
          description: Updated success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        422:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
              example:
                message: The token must be a valid
                errors:
                  email:
                    - "The token format is invalid."
        503:
          description: Something Went Wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SomethingWentWrong'

  /orders:
    post:
      security:
        - bearerAuth: [ ]
      tags:
        - orders
      description: Method for creating an order before payment
      parameters:
        - in: header
          name: Accept-Language
          description: Set interface language (en, de)
          schema:
            type: string
            example: en
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/NewOrder'
          application/json:
            schema:
              $ref: '#/components/schemas/NewOrder'
      responses:
        201:
          description: Create order success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        422:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
              example:
                message: The token must be a valid
                errors:
                  email:
                    - "The token format is invalid."
        503:
          description: Something Went Wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SomethingWentWrong'
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - orders
      description: Method for getting users orders information
      parameters:
        - in: header
          name: Accept-Language
          description: Set interface language (en, de)
          schema:
            type: string
            example: en
      responses:
        200:
          description: Getting order success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Orders'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        503:
          description: Something Went Wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SomethingWentWrong'

  /payment:
    post:
      security:
        - bearerAuth: [ ]
      tags:
        - payment
      description: Method for payment an order via Stripe or PayPal
      parameters:
        - in: header
          name: Accept-Language
          description: Set interface language (en, de)
          schema:
            type: string
            example: en
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/NewPayment'
          application/json:
            schema:
              $ref: '#/components/schemas/NewPayment'
      responses:
        200:
          description: Payment success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        422:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
              example:
                message: The token must be a valid
                errors:
                  email:
                    - "The token format is invalid."
        503:
          description: Something Went Wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SomethingWentWrong'

  /payment/refund:
    post:
      security:
        - bearerAuth: [ ]
      tags:
        - payment
      description: Method for charge refund
      parameters:
        - in: header
          name: Accept-Language
          description: Set interface language (en, de)
          schema:
            type: string
            example: en
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/NewRefund'
          application/json:
            schema:
              $ref: '#/components/schemas/NewRefund'
      responses:
        200:
          description: Refund success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Not found order
        422:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
              example:
                message: The token must be a valid
                errors:
                  email:
                    - "The token format is invalid."
        503:
          description: Something Went Wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SomethingWentWrong'

  /products:
    get:
      tags:
        - products
      description: Method to get all products
      parameters:
        - in: header
          name: Accept-Language
          description: Set interface language (en, de)
          schema:
            type: string
            example: en
        - name: page
          in: query
          description: Number page for getting products
          style: form
          schema:
            type: integer
        - name: per_page
          in: query
          description: Size page for getting products
          style: form
          schema:
            type: integer
      responses:
        200:
          description: Products
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Products'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        503:
          description: Something Went Wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SomethingWentWrong'

  /cards/{card}:
    delete:

      security:
        - bearerAuth: [ ]
      tags:
        - card
      description: This method deleting saved card.
      parameters:
        - in: header
          name: Accept-Language
          description: Set interface language (en, de)
          schema:
            type: string
            example: en
        - name: card
          in: path
          required: true
          description: Card id
          schema:
            type: integer
      responses:
        204:
          description: Successfully deleted saved card
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'

        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Not found card id
        422:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
              example:
                message: The token must be a valid
                errors:
                  email:
                    - "The token format is invalid."
        503:
          description: Something Went Wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SomethingWentWrong'

  /cards:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - card
      description: This method for getting users saved card.
      parameters:
        - in: header
          name: Accept-Language
          description: Set interface language (en, de)
          schema:
            type: string
            example: en
      responses:
        200:
          description: Successfully getting saved card
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCards'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        503:
          description: Something Went Wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SomethingWentWrong'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    AccessToken:
      type: string
      example: 'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzUxMiJ9.eyJpc3MiOiJodHRwOi8vbG9jYWxob3N0L2FwaS92MS9jYWxsYmFjayIsImlhdCI6MTY3NzQ5MDg0NCwiZXhwIjoxNjc3NDk0NDQ1LCJuYmYiOjE2Nzc0OTA4NDUsImp0aSI6IkpjbklmR3ZrVFVjUTA0bW4iLCJzdWIiOiI0NiIsInBydiI6IjIzYmQ1Yzg5NDlmNjAwYWRiMzllNzAxYzQwMDg3MmRiN2E1OTc2ZjcifQ.O1qq_bVdUztBe8CTtkjjH4bLgUR11imiVZBN5tQLvAGurZJ7EeYQcms8TY2_XEW4DRrgI0EjUd6or7lkk34gmFanESLRqDeMTnzBpxZ8K0DwWEUU-RfniJDvmJt-QdgWueTTFG3myeEZmK1nphMxNd6mvpiPf6NTmc5n9AVQObgvcAwi0JVzyzgsTOPOtvrp1BQPpiaWQkK4qeibUL7NEmfp8fQhs5dwi3VH-G_Rj8XGVahunW7NiwCIpiWEOVxHshtvAFHalSI__YMxYg6aSStK_6RJl11IbPxbHK33BaOKzY0TQA95S4DH7wfoRyiTYclr3cpxJ8vPq9PUnpD_cHnAGHih44HXZ6XzJksGhKC6Z6bGBxtgsQSOuFNStSzIKfFb1PADSHKG5j8aX-DN4K6ghDNFonx8b0dD-NKUHUSVHen3f27ZRDIsewh5xpgxNoBlBXCas5iWLiBLCNFmXiFpxfBXz6OkL7ZOkEWd2b_Jg6XMUX-z-pRZFqGgf11v1HZcFiapIlfaU3BnMkyjbUGHI1EIkIeiyKCnb3uzklDK3A7E2Q308KZpT0n5Tfsa5KmYC5zQ36DPxXL20yDvtUkHqQASjg9LI692HASEWklHEanQGGEyY6_VhHSNxf-sEHtn-IY9f5UkbPpRsH4m_zIhq0ivQymDpOoIF6sbJ1Y'

    #Social Driver properties
    SocialDriver:
      type: string
      description: Social network through which you register or log in
      enum:
        - google
        - facebook
      example: facebook

    SocialCode:
      type: string
      description: Social network access code
      example: 'AQBEI2ySKbeOu6Pes7wiFlldMT3_OxjeUeCHrc3xH6_7COWog5EbidgqZcOudGlHbNxcbVC1YEicsqmn3QHyXFqU-WJPayGyIGbMyioORElrFJXbYpPEWKTTzxgn_Aoi2DENULpIODPEXbiiyopdl3RhnMBovhUXbKOYdhtVUGB7cO6LuL894vT3uYIrGs93T27F3xfpfX5ffMupkd2DuYEDokplTiR4MVGqZKZKJ--dsU--1hPDxOrdDnAWKz0MJLYyINb7uVmwD2TP588nm-3PnKUExD9fOG0-zDVNE_jz5bEeBmAldTAAM5k07HQaW3-6wlJ8fleqjkljrKONj01yVjU_7tWmxEU-MYq5gsUeGXTFEy3jp08h1n9s-PqE8z4'

    # Auth Token properties
    AuthToken:
      type: string
      example: fhMg2cwiHUghKOGpWWD4BFZukjubZ7p5Aj2edOM0
      description: Social network token for login
      nullable: false

    # Hash properties
    LoginHash:
      type: string
      example: fhMg2cwiHUghKOGpWWD4BFZukjubZ7p5Aj2edOM0
      nullable: false
      description: Hash with query parameter in message with POST /login
    SocialHash:
      type: string
      example: fhMg2cwiHUghKOGpWWD4BFZukjubZ7p5Aj2edOM0
      nullable: false
      description: Hash for which will be an identifiable user in POST /two-step/social

    #  Users properties
    UserName:
      type: string
      example: John
      nullable: false
      description: User name, may contain only lattice letters and symbols space, -
      minLength: 2
      maxLength: 60
    UserEmail:
      type: string
      example: example@gmail.com
      description: User email, must be a valid according to RFC
      nullable: false
      minLength: 6
      maxLength: 254
    UserPhone:
      type: string
      example: "+380930400000"
      description: User phone, must be a valid according to +380000000000 (Ukraine format)
      nullable: false
      minLength: 1
    UserPhoto:
      type: string
      format: binary
      description: User image, must be a jpg, jpeg format. Min height and min width must be a 70px, and size image smaller 5Mb
    UserPhotoResponse:
      type: string
      example: https://test2023-backend-ivan-t.abztrainee.com/storage/users/dzsfd32NJdpsdvDJcko9dssdc.jpg
      description: Link for user image. If image is small, file name -> dzsfd32NJdpsdvDJcko9dssdc_small.jpg
    UserId:
      title: 'User'
      type: integer
      example: 1
      description: User id
      minLength: 1
    StripeCutomerId:
      type: string
      example: 24jrdKPe43fk
      description: Stripe customer id
      minLength: 1

    # Role properties
    RoleId:
      type: integer
      example: 1
      description: Role id
      minLength: 1
    RoleTitle:
      type: string
      example: Developer
      description: Role title
      minLength: 1

    #links properties
    LinksFirst:
      type: string
      example: https://test2023-backend-ivan-t.abztrainee.com/api/V1/users?page=1
    LinksLast:
      type: string
      example: https://test2023-backend-ivan-t.abztrainee.com/api/V1/users?page=3
    LinksPrev:
      type: string
      example: https://test2023-backend-ivan-t.abztrainee.com/api/V1/users?page=1
    LinksNext:
      type: string
      example: https://test2023-backend-ivan-t.abztrainee.com/api/V1/users?page=2

    # Paginate properties
    CurrentPage:
      type: integer
      example: 1
    From:
      type: integer
      example: 1
    LastPage:
      type: integer
      example: 4
    MetaLinks:
      type: array
      example:
        - url: https://test2023-backend-ivan-t.abztrainee.com/api/V1/users?page=1
          label: '1'
          active: false
        - url: https://test2023-backend-ivan-t.abztrainee.com/api/V1/users?page=2
          label: '2'
          active: true
        - url: https://test2023-backend-ivan-t.abztrainee.com/api/V1/users?page=3
          label: '3'
          active: true
    Path:
      type: string
      example: https://test2023-backend-ivan-t.abztrainee.com/api/V1/users
    PerPage:
      type: integer
      example: 15
    Total:
      type: integer
      example: 45
    To:
      type: integer
      example: 15

    # Order properties
    OrderId:
      type: integer
      example: 1
      description: Order id
      minLength: 1
    OrderPaymentId:
      type: string
      example: pi_1DsvVk2eZvKYlo2CPTkujDWC
      description: Unique identifier for the object PaymentIntent
      minLength: 1
    OrderClientSecret:
      type: string
      example: pi_1DsvVk2eZvKYlo2CPTkujDWC_secret_2UgUfLIr4eJehOFEAkxq59zCn
      description: Client secret key
      minLength: 1
    OrderPaymentMethod:
      type: string
      example: pm_card_visa
      description: ID of the payment method (a PaymentMethod, Card, or compatible Source object)
      minLength: 1
    OrderTypePayment:
      type: string
      $ref: '#/components/schemas/OrderTypePaymentEnum'

    # PaymentStatus properties
    PaymentStatusId:
      type: integer
      example: 1
      description: Status Payment id
      minLength: 1
    PaymentStatusCreatedAt:
      type: string
      example: 2022-12-12 12:30:33
      description: Status Payment created at

    # Product properties
    ProductId:
      type: integer
      example: 1
      description: Product id
      minLength: 1
    ProductUniqueNumber:
      type: string
      example: 20230802110922
      description: Unique number of Product
      minLength: 1
    ProductTitle:
      type: string
      example: White mug with a cat
      description: Product title
      minLength: 1
    ProductDescription:
      type: string
      example: Porcelain mug with a diameter of 10 cm is made of sturdy glass
      description: Product description
      minLength: 1
    ProductImg:
      type: string
      format: binary
      description: Product image, must be a jpg, jpeg format. Size image smaller 5Mb
    ProductImgOutput:
      type: string
      example: https://test2022-backend-andrey-l2.abztrainee.com/storage/products/bhjdBJHViud9384bv2223mdnc.jpg
      description: Link to product image
    ProductQuantity:
      type: integer
      example: 100
      description: Quantity products
    ProductPrice:
      type: number
      multipleOf: 0.01
      example: 23.45
      description: Price product

    #OrderItems properties
    OrderItemId:
      type: integer
      example: 1
      description: Product id
      minLength: 1
    OrderItemTitle:
      type: string
      example: White mug with a cat
      description: Product title
      minLength: 1
    OrderItemDescription:
      type: string
      example: Porcelain mug with a diameter of 10 cm is made of sturdy glass
      description: Product description
      minLength: 1
    OrderItemImg:
      type: string
      format: binary
      description: Product image, must be a jpg, jpeg format. Size image smaller 5Mb
    OrderItemQuantity:
      type: integer
      example: 10
      description: The number of products you want to order
      maximum: 99
    OrderItemPrice:
      type: number
      multipleOf: 0.01
      example: 23
      description: Price product

    #Payment properties
    LabelSaveCard:
      type: boolean
      example: false
      description: Label for saving the card for a specific payment id

    #UserCard properties
    UserCardId:
      type: integer
      example: 1
      description: Id user card
    UserCardNumber:
      type: string
      example: 1234
      description: last for number card
    UserCardType:
      type: string
      example: visa
      description: Type card
    ChooseCardId:
      nullable: true
      example: 1
      type: integer
      description: Id of the selected saved card. Can be null when the card is not selected or there is no given functionality
    UserCardPaymentMethod:
      nullable: true
      type: string
      example: null
      description: Payment method choose card

    # Enums
    OrderTypePaymentEnum:
      nullable: false
      type: string
      enum:
        - stripe
        - paypal
      example: stripe
      description: Type of payment
    OrderStatusPaymentEnum:
      type: string
      enum:
        - refund
        - success
        - pending
        - failed
      example: success
      description: Status of payment

    # Refund  responses or requestBody
    NewRefund:
      properties:
        order_id:
          $ref: '#/components/schemas/PaymentStatusId'
        type_payment:
          $ref: '#/components/schemas/OrderTypePaymentEnum'
    Refund:
      properties:
        message:
          type: string
          example: 'Refund success'

    # PaymentStatus responses or requestBody
    PaymentStatuses:
      type: array
      items:
        properties:
          id:
            $ref: '#/components/schemas/PaymentStatusId'
          status:
            $ref: '#/components/schemas/OrderStatusPaymentEnum'
          created_at:
            $ref: '#/components/schemas/PaymentStatusCreatedAt'

    # OrderItem Responses and RequestBody
    OrderItem:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/OrderItemId'
        title:
          $ref: '#/components/schemas/OrderItemTitle'
        description:
          $ref: '#/components/schemas/OrderItemDescription'
        img:
          $ref: '#/components/schemas/OrderItemImg'
        quantity:
          $ref: '#/components/schemas/OrderItemQuantity'
        price:
          $ref: '#/components/schemas/OrderItemPrice'
        product_id:
          $ref: '#/components/schemas/ProductUniqueNumber'

    # UserCard Responses and RequestBody
    UserCard:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UserCardId'
        last_number:
          $ref: '#/components/schemas/UserCardNumber'
        type_card:
          $ref: '#/components/schemas/UserCardType'
    UserCards:
      type: array
      items:
        $ref: '#/components/schemas/UserCard'

    # Payment Responses and RequestBody
    NewPayment:
      required:
        - type_payment
        - order_id
      type: object
      properties:
        order_id:
          $ref: '#/components/schemas/OrderId'
        type_payment:
          $ref: '#/components/schemas/OrderTypePayment'
        save_card:
          $ref: '#/components/schemas/LabelSaveCard'
        card_id:
          $ref: '#/components/schemas/UserCardId'

    Payment:
      type: object
      properties:
        type_payment:
          $ref: '#/components/schemas/OrderTypePayment'
        payment_id:
          $ref: '#/components/schemas/OrderPaymentId'
        client_secret:
          $ref: '#/components/schemas/OrderClientSecret'
        payment_method:
          $ref: '#/components/schemas/UserCardPaymentMethod'


    # Product Responses and RequestBody
    Product:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/ProductId'
        product_id:
          $ref: '#/components/schemas/ProductUniqueNumber'
        title:
          $ref: '#/components/schemas/ProductTitle'
        description:
          $ref: '#/components/schemas/ProductDescription'
        img:
          $ref: '#/components/schemas/ProductImgOutput'
        quantity:
          $ref: '#/components/schemas/ProductQuantity'
        price:
          $ref: '#/components/schemas/ProductPrice'
    Products:
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        meta:
          $ref: '#/components/schemas/Paginate'

    # Order Responses and RequestBody
    NewOrder:
      required:
        - id
        - quantity
        - products
      properties:
        products:
          type: array
          items:
            type: object
            properties:
              id:
                $ref: '#/components/schemas/ProductId'
              quantity:
                $ref: '#/components/schemas/OrderItemQuantity'

    Order:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/OrderId'
        statuses:
          $ref: '#/components/schemas/PaymentStatuses'
        products:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
    Orders:
      type: array
      items:
        $ref: '#/components/schemas/Order'

    # Users Responses and RequestBody
    Users:
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/User'
        links:
          type: array
          items:
            $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Paginate'
    User:
      required:
        - id
        - name
        - email
        - phone
        - photo_small
        - photo_big
        - role
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UserId'
        name:
          $ref: '#/components/schemas/UserName'
        email:
          $ref: '#/components/schemas/UserEmail'
        phone:
          $ref: '#/components/schemas/UserPhone'
        photo_small:
          $ref: '#/components/schemas/UserPhotoResponse'
        photo_big:
          $ref: '#/components/schemas/UserPhotoResponse'
        role:
          $ref: '#/components/schemas/RoleTitle'
    NewUser:
      type: object
      required:
        - name
        - email
        - phone
        - photo
        - role_id
      properties:
        name:
          $ref: '#/components/schemas/UserName'
        email:
          $ref: '#/components/schemas/UserEmail'
        phone:
          $ref: '#/components/schemas/UserPhone'
        photo:
          $ref: '#/components/schemas/UserPhoto'
        role_id:
          $ref: '#/components/schemas/RoleId'
    UpdateUser:
      type: object
      required:
        - name
        - email
        - phone
        - role_id
      properties:
        name:
          $ref: '#/components/schemas/UserName'
        email:
          $ref: '#/components/schemas/UserEmail'
        phone:
          $ref: '#/components/schemas/UserPhone'
        photo:
          $ref: '#/components/schemas/UserPhoto'
        role_id:
          $ref: '#/components/schemas/RoleId'

    # Role Responses
    Roles:
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Role'
    Role:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/RoleId'
        title:
          $ref: '#/components/schemas/RoleTitle'

    Links:
      type: object
      properties:
        first:
          $ref: '#/components/schemas/LinksFirst'
        last:
          $ref: '#/components/schemas/LinksLast'
        prev:
          $ref: '#/components/schemas/LinksPrev'
        next:
          $ref: '#/components/schemas/LinksNext'

    # Paginate Response
    Paginate:
      required:
        - current_page
        - from
        - last_page
        - links
        - path
        - per_page
        - to
        - total
      properties:
        current_page:
          $ref: '#/components/schemas/CurrentPage'
        from:
          $ref: '#/components/schemas/From'
        last_page:
          $ref: '#/components/schemas/LastPage'
        links:
          $ref: '#/components/schemas/MetaLinks'
        path:
          $ref: '#/components/schemas/Path'
        per_page:
          $ref: '#/components/schemas/PerPage'
        to:
          $ref: '#/components/schemas/To'
        total:
          $ref: '#/components/schemas/Total'

    # Auth Responses an RequestBody
    SuccessLogout:
      type: object
      properties:
        message:
          type: string
          example: You successfully logged out
    Social:
      type: object
      required:
        - driver
        - code
      properties:
        driver:
          $ref: '#/components/schemas/SocialDriver'
        code:
          $ref: '#/components/schemas/SocialToken'

    SocialCallback:
      type: object
      required:
        - driver
        - code
      properties:
        driver:
          $ref: '#/components/schemas/SocialDriver'
        code:
          $ref: '#/components/schemas/SocialToken'

    SocialUrl:
      type: object
      properties:
        url:
          $ref: '#/components/schemas/SocialRedirectUrl'

    SocialToken:
      type: string
      description: Social network access token
      example: AQCHGj4a2FgcwZorYc14-qq8vt83SWIKZDd4thDe8TQYPzbSRHlksjYHexTVAGAahEcRePCPrFCMBxr7BQIlSGHDVUMiu7vIuhlYFWWPKNKOI0qg0BeODIO9M0aZK-ZAxGNXRkRsTIx1jafryh8JrubO362oJ96y5vekmPUtCHGj_HkmE1vMNfjpIIhJy6xcEKcstSfSz6fIyPhowhqPb_9D-ePpvHbEUZDnGdDl2UanAWxTblWmAs9pQN8KU7eTgNI9YbSMMQf232wVPApD-_cHapbKg1C3tdvYrSQE9O_59uQiob48eXkeABaPgNNT-ViB7aj5bqKQFV8MuqKra-sdJneE95QakXQ85mADhPePzbWt_zTkJZ_EfquANFUFkDA

    SuccessFirstStepRegister:
      type: object
      properties:
        message:
          type: string
          example: You are successfully first-step register, go by two-step register
        data:
          type: object
          $ref: '#/components/schemas/User'
        access_token:
          $ref: '#/components/schemas/AccessToken'
        token_type:
          type: string
          example: 'bearer'
        expires_in:
          type: integer
          example: 3600

    TwoStepRegister:
      type: object
      required:
        - name
        - phone
        - photo
        - role_id
      properties:
        name:
          $ref: '#/components/schemas/UserName'
        phone:
          $ref: '#/components/schemas/UserPhone'
        photo:
          $ref: '#/components/schemas/UserPhoto'
        role_id:
          $ref: '#/components/schemas/RoleId'

    SocialRedirectUrl:
      type: string
      description: Social network auth url
      example: 'https://www.facebook.com/v3.3/dialog/oauth?client_id=763927244779654&redirect_uri=http%3A%2F%2Flocalhost%2Fv1%2Ffacebook%2Fcallback&scope=email&response_type=code'

    SuccessAuth:
      type: object
      properties:
        data:
          type: object
          $ref: '#/components/schemas/User'
        access_token:
          $ref: '#/components/schemas/AccessToken'
        token_type:
          type: string
          example: 'bearer'
        expires_in:
          type: integer
          example: 3600

    LoginResponse:
      type: object
      properties:
        status:
          type: string
          example: Success
          description: status to send mail
        message:
          type: string
          example: A message with an authorization link was successfully sent to your email
    Login:
      type: object
      required:
        - email
      properties:
        email:
          $ref: '#/components/schemas/UserEmail'

    Verify:
      type: object
      required:
        - token
      properties:
        token:
          $ref: '#/components/schemas/LoginHash'

    # Errors
    NotFound:
      title: Not found
      type: object
      properties:
        message:
          type: string
          example: 'Not found'
    Unauthorized:
      title: Unauthorized
      type: object
      properties:
        message:
          type: string
          example: 'Unauthorized'
    Forbidden:
      title: Forbidden
      type: object
      properties:
        message:
          type: string
          example: Forbidden
    BadRequest:
      type: object
      title: Bad request
      properties:
        message:
          type: string
          example: 'The phone format is invalid.'
        errors:
          type: object
          properties:
            phone:
              type: array
              items:
                example: "The phone format is invalid."
    Conflict:
      type: object
      title: Conflict
      properties:
        message:
          type: string
          example: 'The email has already been taken.'
    Created:
      type: object
      title: Created
      properties:
        message:
          type: string
          example: 'Created success'
        status:
          type: integer
          example: 201
    Deleted:
      type: object
      title: Deleted
    SomethingWentWrong:
      type: object
      title: Something Went Wrong
      properties:
        message:
          type: string
          example: 'Something went wrong'
