# For more information: https://laravel.com/docs/sail
version: '3'
services:
    laravel.test:
        container_name: '${APP_NAME}-app'
        platform: 'linux/${PLATFORM}'
        build:
            context: ./docker/8.2
            dockerfile: Dockerfile
            args:
                WWWGROUP: '${WWWGROUP}'
        image: sail-8.2/app
        extra_hosts:
            - 'host.docker.internal:host-gateway'
            - 'pdp-tasks.test:host-gateway'
        ports:
            - '${APP_PORT:-80}:80'
            - '${VITE_PORT:-5173}:${VITE_PORT:-5173}'
            - '${WEBSOCKET_PORT:-6001}:${WEBSOCKET_PORT:-6001}'
        environment:
            WWWUSER: '${WWWUSER}'
            LARAVEL_SAIL: 1
            XDEBUG_MODE: '${SAIL_XDEBUG_MODE:-off}'
            XDEBUG_CONFIG: '${SAIL_XDEBUG_CONFIG:-client_host=host.docker.internal}'
        volumes:
            - '.:/var/www/html'
        networks:
            - sail
        depends_on:
            - pgsql
            - redis
            - elastic
            - mailpit
    pgsql:
        container_name: '${APP_NAME}-pgsql'
        platform: 'linux/${PLATFORM}'
        image: 'postgres:15-alpine'
        ports:
            - '${FORWARD_DB_PORT:-5432}:5432'
        environment:
            PGPASSWORD: '${DB_PASSWORD:-secret}'
            POSTGRES_DB: '${DB_DATABASE}'
            POSTGRES_USER: '${DB_USERNAME}'
            POSTGRES_PASSWORD: '${DB_PASSWORD:-secret}'
        volumes:
            - 'sail-pgsql:/var/lib/postgresql/data'
            - './vendor/laravel/sail/database/pgsql/create-testing-database.sql:/docker-entrypoint-initdb.d/10-create-testing-database.sql'
        networks:
            - sail
        healthcheck:
            test: [ "CMD", "pg_isready", "-q", "-d", "${DB_DATABASE}", "-U", "${DB_USERNAME}" ]
            retries: 3
            timeout: 5s
    redis:
        container_name: '${APP_NAME}-redis'
        platform: 'linux/${PLATFORM}'
        image: 'redis:alpine'
        ports:
            - '${FORWARD_REDIS_PORT:-6379}:6379'
        volumes:
            - 'sail-redis:/data'
        networks:
            - sail
        healthcheck:
            test: [ "CMD", "redis-cli", "ping" ]
            retries: 3
            timeout: 5s
    mailpit:
        container_name: '${APP_NAME}-mailpit'
        image: 'axllent/mailpit:latest'
        ports:
            - '${FORWARD_MAILPIT_PORT:-1025}:1025'
            - '${FORWARD_MAILPIT_DASHBOARD_PORT:-8025}:8025'
        networks:
            - sail
    elastic:
        image: 'elasticsearch:8.9.1'
        container_name: '${APP_NAME}-elastic'
        platform: 'linux/${PLATFORM}'
        ports:
            - '${FORWARD_ES_PORT:-9200}:9200'
        environment:
            - cluster.name=docker-cluster
            - discovery.type=single-node
            - bootstrap.memory_lock=true
            - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
            - xpack.security.enabled=false
        volumes:
            - sail-elastic:/usr/share/elasticsearch/data
        networks:
            - sail
        healthcheck:
            test: [ "CMD", "curl localhost:${FORWARD_ES_PORT:-9200} | grep -q 'docker-cluster'" ]
            interval: 10s
            timeout: 10s
            retries: 3
networks:
    sail:
        driver: bridge
volumes:
    sail-pgsql:
        driver: local
    sail-redis:
        driver: local
    sail-elastic:
        driver: local
