includes:
  - ./vendor/nunomaduro/larastan/extension.neon

parameters:
  paths:
    - app
    - config
    - database/factories
    - database/seeders
    - database/migrations
    - lang
    - routes
    - tests
  level: 6 # (0-8)
  tmpDir: bootstrap/cache/phpstan
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
